In [2]:
import polars as pl
import pyarrow as pa

In [3]:
print(pl.Series(["1", "2", "3"]))

shape: (3,)
Series: '' [str]
[
	"1"
	"2"
	"3"
]

In [12]:
df = pl.DataFrame({'a': [1,2,3]})
print(df)

shape: (3, 1)
┌─────┐
│ a   │
│ --- │
│ i64 │
╞═════╡
│ 1   │
│ 2   │
│ 3   │
└─────┘

In [7]:
pl.read_csv("~/downloads/titanic/train.csv")

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆            ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…           ┆   ┆            ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath    ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li…             ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Helen  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ …                ┆   ┆            ┆         ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆            ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [8]:
df = pl.DataFrame({"col1": [1, 2, 3], "col2": ["a", "b", "c"], "col3":[1.1, 2.2, 3.3], "col4": [1, 0, 1], "col5": [1, 0, True], "col6": [True, 0, 1.0], "col7": ["null", "null", None]})

In [9]:
df.write_csv("~/downloads/titanic/sample.csv")

In [10]:
!cat ~/downloads/titanic/sample.csv

col1,col2,col3,col4,col5,col6,col7
1,a,1.1,1,1,1.0,null
2,b,2.2,0,0,0.0,null
3,c,3.3,1,1,1.0,

In [3]:
df = pl.read_csv("~/downloads/titanic/sample.csv")

In [4]:
df

shape: (3, 7)
┌──────┬──────┬──────┬──────┬──────┬──────┬──────┐
│ col1 ┆ col2 ┆ col3 ┆ col4 ┆ col5 ┆ col6 ┆ col7 │
│ ---  ┆ ---  ┆ ---  ┆ ---  ┆ ---  ┆ ---  ┆ ---  │
│ i64  ┆ str  ┆ f64  ┆ i64  ┆ i64  ┆ f64  ┆ str  │
╞══════╪══════╪══════╪══════╪══════╪══════╪══════╡
│ 1    ┆ a    ┆ 1.1  ┆ 1    ┆ 1    ┆ 1.0  ┆ null │
│ 2    ┆ b    ┆ 2.2  ┆ 0    ┆ 0    ┆ 0.0  ┆ null │
│ 3    ┆ c    ┆ 3.3  ┆ 1    ┆ 1    ┆ 1.0  ┆ null │
└──────┴──────┴──────┴──────┴──────┴──────┴──────┘

In [10]:
df.with_columns([df.apply(lambda x: x[5] * 2).alias("col8")])

AttributeError: 'DataFrame' object has no attribute 'alias'

In [5]:
series = pl.Series("hi", [1.0, 0.0])

In [6]:
series.any()

SchemaError: invalid series dtype: expected `Boolean`, got `f64`